body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.CourseContent{
  /* background-color: aqua; */
  display: flex;
}

.CourseContentRow{
  display: flex;
  flex-direction: row;
  padding: 1em;
  /* margin: auto; */
  /* background-color: red; */
}
