body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.CourseContent{
  /* background-color: aqua; */
  display: flex;
}

.CourseContentRow{
  display: flex;
  flex-direction: row;
  padding: 1em;
  /* margin: auto; */
  /* background-color: red; */
}

.custom-button {
  margin-top: 1.5rem;
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  color: #fff;
  font-weight: 700;
  border-radius: 0.25rem;
  cursor: pointer;
  background: linear-gradient(to right, #695ee9, #695ee9);
}

.top-holder {
  height: 100px;
}