
.App {
  height: 100vh;
  width: 100vw;
}

body{
  margin: 0px;
  padding: 0px;
  /* background-color: aqua; */
}
/* .SideBar {
  height: 75%;
  width: 75%;
  background-color: #f6f7f8;

} */

.container{
  height: 100vh;
  width: 100vw;
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;

}

.dybamicPage{
  padding: 5px;
  margin: 0px;
  /* background-color: aqua; */
  width: 100%;
}
